body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ============================================================================== */

.App #now_playing {
  height:13vh;
  display: flex;
  align-items: center;

  border-style: none none solid none;
  border-width: 1px;
  border-color: #f4511c;
}

.App #play_button {
  margin-left: 15px;
}
.App .btn-floating.btn-large {
  display: flex;
  align-items: center;
  width: 5.2vw;
  height: 5.2vw;
}
.App .btn-floating.btn-large i {
  font-size: 4vw;
}

.App #now_playing_tag {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  margin-left: 19px;
}
.App #album {
  font-size: 1vw;
}
.App #artist_title {
  font-size: 2vw;
}



.App #content {
  height:87vh;
  display:block;
  overflow:auto;
  margin-top: 10px;
}



.App #preloader {
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App #YTcontent {
  height: 85vh;
  display:block;
  overflow:auto;
}
.App #YTcontent h5:hover {
  color: #3bc7ff;
  cursor: pointer;
}



.App #imgDiv {
  height:82vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App #showImg {
  max-width: 800px;
  max-height: 800px;
}



.App #nav {
  height: 100vh;
  border-style: none solid none none;
  border-width: 2px;
  border-color: #f4511c;
  background-color:#e8eaf6;
}

.App .btn-floating.btn-small  {
  display: flex;
  align-items: center;
  width: 3.2vw;
  height: 3.2vw;
}
.App .btn-floating.btn-small i {
  font-size: 2vw;
}